.subHeader {
    text-transform: uppercase;
    text-align: center;
    font-weight: lighter;
}

.header {
    text-transform: uppercase;
    text-align: center;
    font-weight: lighter;
    font-size: 4rem;
}

.subHeaderSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    & > .image1 {
        height: 150px;
        width: 150px;
        object-fit: cover;
    }

    & > .image2, .image4 {
        height: 250px;
        width: 250px;
        object-fit: cover;
    }

    & > .image3 {
        height: 450px;
        width: 450px;
        object-fit: cover;
        border-radius: 50%;
    }
}

