.subHeader {
    text-transform: uppercase;
    text-align: center;
    font-weight: lighter;
}

.header {
    text-transform: uppercase;
    text-align: center;
    font-weight: lighter;
    font-size: 4rem;
}

.part1gridSection {
    display: flex;
    justify-content: center;
}

.part1grid {
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 25rem);
    grid-template-rows: repeat(3, 100px);

    & > .image1 {
        height: 150px;
        width: 150px;
        object-fit: cover;
        grid-area: 1 / 1;
        margin-left: auto;
    }


    & > .image2 {
        grid-area: 3 / 1;
        height: 200px;
        width: 200px;
        object-fit: cover;
    }

    & > .image4 {
        height: 250px;
        width: 250px;
        object-fit: cover;
        margin-left: auto;
        grid-area: 2 / 3;
    }

    & > .image3 {
        height: 350px;
        width: 350px;
        object-fit: cover;
        border-radius: 50%;
        grid-area: span(2) / 2;
        margin: auto;
        align-self: center;
    }
}

.part2gridSection {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}

.part2grid {
    gap: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 36rem);
    grid-template-rows: repeat(2, 13rem);

    & > .header {
        font-size: 2.5rem;
        text-align: left;
    }

    & > .image5 {
        width: 18rem;
        height: 18rem;
        object-fit: cover;
        margin-left: auto;
    }

    & .sectionNumber {
        background-color: black;
        color: white;
        width: max-content;
        padding: .4rem .6rem;
        font-size: 5rem;
        font-weight: 600;
    }

    & > .infoSection {
        grid-area: 1/ 2;

        &  > .info {
            display: flex;
            padding: 1rem 0;

            & > p {
                font-weight: 200;
                font-size: large;
                padding-right: 2rem;
                margin: auto;
            }
        }
    }
}
